.custommargin {
    margin:4% 6% 0 6%;
}
.inlinetoggleheading{
    padding-right: 8%;
    align-self: center;
    font-weight: 600;
    font-size: 13px;
}
.slecttoggle{
    display: flex;
    margin: 6px 0px 0px 6px;
}
.colgap{
    column-gap: 2%;
}

.formBlueBTN {
    /* float: left; */
    padding: 0px 6px;
    font-size: 12px;
    min-width: 120px;
    width: auto !important;
    background: transparent;
    color: #000000 !important;
    border: 1px solid #F1772E !important;
    border-radius: 5px;
    line-height: 30px;
    height: auto;
    cursor: pointer;
    background-repeat: no-repeat !important;
    background-size: 20px !important;
    background-position: 10px 5px !important;
    padding-left: 38px;
    padding-right: 22px;
    text-align: center;
    margin-left: 7px;
    margin-right: 7px;
    font-weight: 600;
    display: inline-block;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    font-family: 'Poppins', sans-serif;
}

.formBlueBTN:hover {
    color: #ffffff !important;
    background-color: #F1772E !important;
    background-position: 10px -17px !important;
    text-decoration: none;
}

.BtnRight{
    margin-top: 15px;
}
.headerleft{
    height: 32px;
    .customheader1{
        color: #309BAE;
        font-size: 20px;
        letter-spacing: 4px;
        font-weight: 600;
    }
}
.nonrequiredHint{
    color: black !important;
    letter-spacing: 0.8px;
}

fieldset{
    margin-bottom: 50px;
    box-shadow: 0px 0px 2px 0px;
    border: 1px solid #e0e0e0;
    padding : 20px;
    legend{
        padding: 5px;
        letter-spacing: 4px;
        font-weight: 600;
        box-shadow: 0px 0px 4px 2px #000000;
        background: #8fd0a0
    };
}
.headershadow{
    box-shadow: 0px 2px 8px 2px rgb(0 0 0 / 81%);;
}
.reset{
            background-image: url(../../../../../assets/images/reset_BTN.png);
            box-shadow: 1px 1px 2px 0px #f1772e;
            letter-spacing: 2px;
}

.submit{
            background-image: url(../../../../../assets/images/save_BTN.png);
            box-shadow: 1px 1px 2px 0px #f1772e;
            letter-spacing: 2px;
}